<html>
    <head>
        <title>{{ title }}</title>
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script src="https://apis.google.com/js/platform.js" ></script>
        <script src="static/js/googlehandler.js"></script>
        <script src="static/js/documenthandler.js" ></script>
        <meta name="google-signin-client_id" content="353400228997-rjg6491v78ci82c9hanired9rt4a5ngo.apps.googleusercontent.com" >
    </head>
    <body>
    {% block content %} {% endblock %}
    </body>
</html>
