{% extends "base.html" %}

{% block content %}
<h1> Openmasses Survey</h1>
<p>Welcome to the {{title}}.</p>
<p>To ensure data quality of this survey we request that you login with your google account by pressing the google
    button.</p>
<p>Your email will be used to distribute the survey to you. Your email or identity will not be recorded.</p>
<p>If you have any concerns about your privacy or if you have any other questions feel free to us at s.espana@uu.nl</p>
<p>We thank you for your participation in this survey.</p>
<p>Carlijn Quick, Bart Turk, Sergio España and Ralph Horn</p>
<div class="g-signin2" data-onsuccess="onSignIn"></div>
<form action="get_survey" id="SurveyForm" method="post">
    <input type="hidden" id="googleid" name="googleid" value="">
        </form>

<button id="SurveyButton">Request Survey</button>

{% endblock %}
